In [44]:
import numpy as np
import pandas as pd
from scipy.signal import savgol_filter
import matplotlib.pyplot as plt

In [37]:
df = pd.read_csv('distance2.csv')
df = df.set_index('Date')

In [38]:
df = df.reset_index()
df

,Date,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
0,2019/01/01,724994918,702847527,324233561,389008778,350710314,121295097,47059366,22576469,5417984,5184257
1,2019/01/02,873821053,857652193,414113344,514907497,502234086,168445426,53216858,23450868,5886809,4593584
2,2019/01/03,889115519,870213253,422309998,527320887,516078313,172895628,55099166,24373344,6114206,4701143
3,2019/01/04,879469995,886920417,435751001,543968920,528429562,176283264,57946617,26061661,6288101,4707485
4,2019/01/05,886366822,912494498,445616683,542819222,495714599,164524542,58090842,25471995,5973364,4315916
...,...,...,...,...,...,...,...,...,...,...,...
1127,2022/02/01,1119223826,939473978,460194936,590028553,549281847,170681588,55056147,22497410,4686881,3391335
1128,2022/02/02,1122807022,949053379,466278216,591583425,545284774,169499111,55329209,23411731,4892722,3512076
1129,2022/02/03,1120844037,928232447,446740232,567713099,529348171,165225036,54833879,23983083,5086418,3644006
1130,2022/02/04,1066314529,914735343,453801091,581405460,538878504,168233431,58648879,27416062,5308393,3401470
1131,2022/02/05,936656233,847849956,435511259,555975032,508528726,164969321,63809016,27355733,4666705,3093292

In [48]:
x_filtered = df[["Number of Trips <1"]].apply(savgol_filter,  window_length=51, polyorder=2)
x = df[["Number of Trips <1"]]
plt.ion()
plt.plot(x)
plt.plot(x_filtered)
plt.show()

ValueError: window_length must be odd.

In [39]:
df['Number of Trips 1-5'] = df['Number of Trips 1-3'] + df['Number of Trips 3-5']
df['Number of Trips 5-25'] = df['Number of Trips 5-10'] + df['Number of Trips 10-25']
df['Number of Trips 25-100'] = df['Number of Trips 50-100'] + df['Number of Trips 25-50']
df['Number of Trips >=250'] = df['Number of Trips >=500'] + df['Number of Trips 250-500']
df = df[['Date','Number of Trips <1', 'Number of Trips 1-5', 'Number of Trips 5-25', 'Number of Trips 25-100','Number of Trips 100-250','Number of Trips >=250']]
df

,Date,Number of Trips <1,Number of Trips 1-5,Number of Trips 5-25,Number of Trips 25-100,Number of Trips 100-250,Number of Trips >=250
0,2019/01/01,724994918,1027081088,739719092,168354463,22576469,10602241
1,2019/01/02,873821053,1271765537,1017141583,221662284,23450868,10480393
2,2019/01/03,889115519,1292523251,1043399200,227994794,24373344,10815349
3,2019/01/04,879469995,1322671418,1072398482,234229881,26061661,10995586
4,2019/01/05,886366822,1358111181,1038533821,222615384,25471995,10289280
...,...,...,...,...,...,...,...
1127,2022/02/01,1119223826,1399668914,1139310400,225737735,22497410,8078216
1128,2022/02/02,1122807022,1415331595,1136868199,224828320,23411731,8404798
1129,2022/02/03,1120844037,1374972679,1097061270,220058915,23983083,8730424
1130,2022/02/04,1066314529,1368536434,1120283964,226882310,27416062,8709863
1131,2022/02/05,936656233,1283361215,1064503758,228778337,27355733,7759997

In [40]:
df['Date'] = pd.to_datetime(df['Date']) + pd.to_timedelta(7, unit='d')
df1 = df.groupby(pd.Grouper(freq='W', key='Date'))['Number of Trips <1', 'Number of Trips 1-5', 'Number of Trips 5-25', 'Number of Trips 25-100','Number of Trips 100-250','Number of Trips >=250'].sum()

/var/folders/_f/cn7w2_g979z63x69nw9b3y_r0000gn/T/ipykernel_97390/2357158274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date']) + pd.to_timedelta(7, unit='d')
/var/folders/_f/cn7w2_g979z63x69nw9b3y_r0000gn/T/ipykernel_97390/2357158274.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1 = df.groupby(pd.Grouper(freq='W', key='Date'))['Number of Trips <1', 'Number of Trips 1-5', 'Number of Trips 5-25', 'Number of Trips 25-100','Number of Trips 100-250','Number of Trips >=250'].sum()

In [36]:
df1

,Number of Trips <1,Number of Trips 1-5,Number of Trips 5-25,Number of Trips 25-100,Number of Trips 100-250,Number of Trips >=250
Date,,,,,,
2018-12-30,5059366059,7538892199,5833151794,1267906477,146416978,63145583
2019-01-06,6156693152,9070835960,7093499780,1529859758,166857508,70814252
2019-01-13,6132790489,9057781749,7110847884,1539758610,169197807,72433939
2019-01-20,6045024531,9029101434,7096512574,1546058315,173533733,74151405
2019-01-27,6244810949,9139528214,7056407752,1502978601,159841915,66423422
...,...,...,...,...,...,...
2022-01-02,7818599883,9687834469,7717302102,1569452717,183606815,64154535
2022-01-09,7925970969,9813161718,7713716194,1565049072,178245684,62393794
2022-01-16,7674127757,9496873133,7582839474,1529505563,175504864,60872451
2022-01-23,7739293392,9594745944,7678045485,1545682389,172822482,60254455
2022-01-30,6485485600,8245303585,6683199303,1348783097,146739718,49605944

In [41]:
compression_opts = dict(method='zip',
                        archive_name='distance_out.csv')  
df.to_csv('out.zip', index=False,
          compression=compression_opts)